article.moviecard {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 40px;
}

form {
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

#frontpage{
    background-color: black;
}

#container {
    width: 100%;
    max-width: 1200px;
    background: #fff;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 2rem;
    margin: 0 auto;
  }

  
input.searchbar {
    width: 500px;
  }


  h1.logo {
    display: grid;
    justify-content: space-around;
}

img {
    height: auto;
    max-width: 250px
}
  
section.movieInfo {
    padding: 20px;
}


  .stylePublish{
    background-color: pink;
    max-width: 200px;
  }